.container{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* justify-content: space-between ; */
    /* align-items: flex-end; */
    align-items: center;
    justify-content: center;
}
.search{
    /* flex: 2; */
    order: 1;
    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: 200px;

}
.home{
    /* flex: 1; */
    order: 0; 
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;

}
.login{
    /* flex: 1; */
    /* margin-left: auto; */
    order: -1;
    flex-grow: 1;
    flex-shrink: 5;
    flex-basis: 200px;

}